.container{
    width: 75%;
    height: 100vh;
    background: rgb(245, 245, 245);
    min-height: 900px;
}

.title{
    text-align: center;
}
.subtitle{
    margin: 10px 40px;
}
.logo-img{
    margin: 10px auto;
    width: 20%;
    height: 200px;
}
.profile-container{
    display: flex;
}
.photo{
    padding: 5px 0 5px 30px;
    width: 50%;
    height: 300px;
}
.text{
    text-align: left;
    line-height: 30px;
    padding: 10px 55px;
}

@media (max-width: 500px){
    .container{
        width: 90%;
        min-height: 1000px;
    }
    .logo-img{
        margin: 5px auto;
        width: 30%;
        height: 120px;
    }
    .profile-container{
        flex-direction: column;
    }
    .text{
        text-align: left;
        line-height: 20px;
        font-size: 13px;
        padding: 10px 55px;
    }

    .photo{
        align-self: center;
        padding: 5px;
        width: 80%;
        height: 200px;
    }
}
