body{
    color:#222;
}
.container-print{
    display: grid;
    grid-template-columns: 20% 80%;
}
.categories{
    width: 15vw;
    margin: 20px;
    padding: 10px;
}

.content-main{
    margin: 10px;
    width: 100%;
}

.content-text-main{
    font-weight: 100;
}
.content-text-main h1{
    font-size: 70px;
    font-weight: 300;
}
.img-container-main{
    margin: 30px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,300px);
    gap:20px 30px;
}
.img-container-main img{
    width: 100%;
    height: 300px;
}